# Reading the JSON File

In [6]:
import json

In [7]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [8]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1200, 'qn': 5}}

# Adding new item to the inventory

In [9]:
for i in range (10):
  prod_id = str(input("Enter product id:"))
  name = str(input("Enter name:"))
  pr = int(input("Enter price:"))
  qn = int(input("Enter quantity:"))

  record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

  js = json.dumps(record)

  fd = open("record.json",'w')
  fd.write(js)
  fd.close()

Enter product id:1011
Enter name:Pendrive
Enter price:700
Enter quantity:15
Enter product id:1012
Enter name:Pencil
Enter price:20
Enter quantity:50
Enter product id:1013
Enter name:Water Bottle
Enter price:100
Enter quantity:30
Enter product id:1014
Enter name:Notebook
Enter price:59
Enter quantity:70
Enter product id:1015
Enter name:Fan
Enter price:1500
Enter quantity:49
Enter product id:1016
Enter name:Pillow
Enter price:300
Enter quantity:29
Enter product id:1017
Enter name:Table
Enter price:1000
Enter quantity:100
Enter product id:1018
Enter name:Towel
Enter price:699
Enter quantity:110
Enter product id:1019
Enter name:Laptop
Enter price:64000
Enter quantity:25
Enter product id:1020
Enter name:Speaker
Enter price:2500
Enter quantity:10

In [11]:
for i in range (10):
  prod_id = str(input("Enter product id:"))
  name = str(input("Enter name:"))
  pr = int(input("Enter price:"))
  qn = int(input("Enter quantity:"))

  record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

  js = json.dumps(record)

  fd = open("record.json",'w')
  fd.write(js)
  fd.close()

Enter product id:1021
Enter name:Chair
Enter price:700
Enter quantity:200
Enter product id:1022
Enter name:Earphones
Enter price:599
Enter quantity:225
Enter product id:1023
Enter name:Bucket
Enter price:499
Enter quantity:39
Enter product id:1024
Enter name:Mattress
Enter price:1300
Enter quantity:5
Enter product id:1025
Enter name:Adapter
Enter price:499
Enter quantity:50
Enter product id:1026
Enter name:Pateries
Enter price:50
Enter quantity:10
Enter product id:1027
Enter name:Cricket Bat
Enter price:5000
Enter quantity:2
Enter product id:1028
Enter name:Cricket Ball
Enter price:399
Enter quantity:11
Enter product id:1029
Enter name:Racket
Enter price:1100
Enter quantity:25
Enter product id:1030
Enter name:Football
Enter price:2000
Enter quantity:10

In [12]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1200, 'qn': 5},
 '1011': {'name': 'Pendrive', 'pr': 700, 'qn': 15},
 '1012': {'name': 'Pencil', 'pr': 20, 'qn': 50},
 '1013': {'name': 'Water Bottle', 'pr': 100, 'qn': 30},
 '1014': {'name': 'Notebook', 'pr': 59, 'qn': 70},
 '1015': {'name': 'Fan', 'pr': 1500, 'qn': 49},
 '1016': {'name': 'Pillow', 'pr': 300, 'qn': 29},
 '1017': {'name': 'Table', 'pr': 1000, 'qn': 100},
 '1018': {'name': 'Towel', 'pr': 699, 'qn': 110},
 '1019': {'name': 'Laptop', 'pr': 64000, 'qn': 25},
 '1020': {'name': 'Speaker', 'pr': 2500, 'qn': 10},
 '1021': {'name': 'Chair', 'pr': 700, 'qn': 200},
 '1022': {'name': 'Earphones', 'pr': 599, 'qn': 225},
 '1023': {'name': 'Bucket', 'pr': 499, 'qn': 39},
 '1024': {'name': 'Mattress', 'pr': 1300, 'qn': 5},
 '1025': {'name': 'Adapter', 'pr': 499, 'qn': 50},
 '1026': {'name': 'Pateries', 'pr': 50, 'qn': 10},
 '1027': {'name': 'Cricket Bat', 'pr': 5000, 'qn': 2},
 '1028': {'name': 'Cricket Ball', 'pr': 399, 'qn': 11},
 '1029': {'name': 'Racket', 'pr': 1100, 'qn': 25},
 '1030': {'name': 'Football', 'pr': 2000, 'qn': 10}}

### Now we have to increase the price and quantiy of our products

In [13]:
# Updating the quantity of mouse

ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", record[ui_prod]['name'])
print("Price: ", record[ui_prod]['pr'])

Enter the product_Id: 1010
Enter the quantity: 3
Product:  Mouse
Price:  1200

In [14]:
record[ui_prod]['qn'] = record[ui_prod]['qn'] + ui_quant

In [15]:
# Updating the price of Phone

ui_prod  = str(input("Enter the product_Id: "))
ui_price = int(input("Enter the Price: "))


print("Product: ", record[ui_prod]['name'])
print("Qunatity: ", record[ui_prod]['qn'])

Enter the product_Id: 1006
Enter the Price: 2
Product:  Phone
Qunatity:  10

In [16]:
record[ui_prod]['pr'] = record[ui_prod]['pr'] + ui_price

In [17]:
# Updated values in record
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50002, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1200, 'qn': 8},
 '1011': {'name': 'Pendrive', 'pr': 700, 'qn': 15},
 '1012': {'name': 'Pencil', 'pr': 20, 'qn': 50},
 '1013': {'name': 'Water Bottle', 'pr': 100, 'qn': 30},
 '1014': {'name': 'Notebook', 'pr': 59, 'qn': 70},
 '1015': {'name': 'Fan', 'pr': 1500, 'qn': 49},
 '1016': {'name': 'Pillow', 'pr': 300, 'qn': 29},
 '1017': {'name': 'Table', 'pr': 1000, 'qn': 100},
 '1018': {'name': 'Towel', 'pr': 699, 'qn': 110},
 '1019': {'name': 'Laptop', 'pr': 64000, 'qn': 25},
 '1020': {'name': 'Speaker', 'pr': 2500, 'qn': 10},
 '1021': {'name': 'Chair', 'pr': 700, 'qn': 200},
 '1022': {'name': 'Earphones', 'pr': 599, 'qn': 225},
 '1023': {'name': 'Bucket', 'pr': 499, 'qn': 39},
 '1024': {'name': 'Mattress', 'pr': 1300, 'qn': 5},
 '1025': {'name': 'Adapter', 'pr': 499, 'qn': 50},
 '1026': {'name': 'Pateries', 'pr': 50, 'qn': 10},
 '1027': {'name': 'Cricket Bat', 'pr': 5000, 'qn': 2},
 '1028': {'name': 'Cricket Ball', 'pr': 399, 'qn': 11},
 '1029': {'name': 'Racket', 'pr': 1100, 'qn': 25},
 '1030': {'name': 'Football', 'pr': 2000, 'qn': 10}}

In [18]:
# Deleting the product

In [19]:
del record['1002']

In [20]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50002, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1200, 'qn': 8},
 '1011': {'name': 'Pendrive', 'pr': 700, 'qn': 15},
 '1012': {'name': 'Pencil', 'pr': 20, 'qn': 50},
 '1013': {'name': 'Water Bottle', 'pr': 100, 'qn': 30},
 '1014': {'name': 'Notebook', 'pr': 59, 'qn': 70},
 '1015': {'name': 'Fan', 'pr': 1500, 'qn': 49},
 '1016': {'name': 'Pillow', 'pr': 300, 'qn': 29},
 '1017': {'name': 'Table', 'pr': 1000, 'qn': 100},
 '1018': {'name': 'Towel', 'pr': 699, 'qn': 110},
 '1019': {'name': 'Laptop', 'pr': 64000, 'qn': 25},
 '1020': {'name': 'Speaker', 'pr': 2500, 'qn': 10},
 '1021': {'name': 'Chair', 'pr': 700, 'qn': 200},
 '1022': {'name': 'Earphones', 'pr': 599, 'qn': 225},
 '1023': {'name': 'Bucket', 'pr': 499, 'qn': 39},
 '1024': {'name': 'Mattress', 'pr': 1300, 'qn': 5},
 '1025': {'name': 'Adapter', 'pr': 499, 'qn': 50},
 '1026': {'name': 'Pateries', 'pr': 50, 'qn': 10},
 '1027': {'name': 'Cricket Bat', 'pr': 5000, 'qn': 2},
 '1028': {'name': 'Cricket Ball', 'pr': 399, 'qn': 11},
 '1029': {'name': 'Racket', 'pr': 1100, 'qn': 25},
 '1030': {'name': 'Football', 'pr': 2000, 'qn': 10}}

In [21]:
# Final updated record, 
# Now we will use this record for purchasing products

In [23]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()