# Reading the JSON File

In [21]:
import json

In [22]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [23]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Pendrive', 'pr': 700, 'qn': 20}}

# Adding new item to the inventory

In [24]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1010
Enter name:Mouse
Enter price:1200
Enter quantity:5

In [25]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1200, 'qn': 5}}

### Now we have to increase the price and quantiy of our products

In [26]:
# Updating the quantity of mouse

ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", record[ui_prod]['name'])
print("Price: ", record[ui_prod]['pr'])

Enter the product_Id: 1010
Enter the quantity: 7
Product:  Mouse
Price:  1200

In [27]:
record[ui_prod]['qn'] = record[ui_prod]['qn'] + ui_quant

In [29]:
# Updating the price of Phone

ui_prod  = str(input("Enter the product_Id: "))
ui_price = int(input("Enter the Price: "))


print("Product: ", record[ui_prod]['name'])
print("Qunatity: ", record[ui_prod]['qn'])

Enter the product_Id: 1006
Enter the Price: 48000
Product:  Phone
Qunatity:  10

In [31]:
# Updated values in record
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1200, 'qn': 12}}

In [32]:
# Deleting the product

In [33]:
del record['1002']

In [34]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1200, 'qn': 12}}

In [35]:
# Final updated record, 
# Now we will use this record for purchasing products