# Read Inventory

In [1]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

In [2]:
records = json.loads(r)

In [3]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50002, 'qn': 8},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1200, 'qn': 8},
 '1011': {'name': 'Pendrive', 'pr': 700, 'qn': 15},
 '1012': {'name': 'Pencil', 'pr': 20, 'qn': 50},
 '1013': {'name': 'Water Bottle', 'pr': 100, 'qn': 30},
 '1014': {'name': 'Notebook', 'pr': 59, 'qn': 70},
 '1015': {'name': 'Fan', 'pr': 1500, 'qn': 49},
 '1016': {'name': 'Pillow', 'pr': 300, 'qn': 29},
 '1017': {'name': 'Table', 'pr': 1000, 'qn': 100},
 '1018': {'name': 'Towel', 'pr': 699, 'qn': 110},
 '1019': {'name': 'Laptop', 'pr': 64000, 'qn': 25},
 '1020': {'name': 'Speaker', 'pr': 2500, 'qn': 10},
 '1021': {'name': 'Chair', 'pr': 700, 'qn': 200},
 '1022': {'name': 'Earphones', 'pr': 599, 'qn': 225},
 '1023': {'name': 'Bucket', 'pr': 499, 'qn': 39},
 '1024': {'name': 'Mattress', 'pr': 1300, 'qn': 5},
 '1025': {'name': 'Adapter', 'pr': 499, 'qn': 50},
 '1026': {'name': 'Pateries', 'pr': 50, 'qn': 10},
 '1027': {'name': 'Cricket Bat', 'pr': 5000, 'qn': 2},
 '1028': {'name': 'Cricket Ball', 'pr': 399, 'qn': 11},
 '1029': {'name': 'Racket', 'pr': 1100, 'qn': 25},
 '1030': {'name': 'Football', 'pr': 2000, 'qn': 10}}

# Sales JSON

In [11]:
for i in range(5):
  ui_prod  = str(input("Enter the product_Id: "))
  ui_quant = int(input("Enter the quantity: "))


  print("Product: ", records[ui_prod]['name'])
  print("Price: ", records[ui_prod]['pr'])
  print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

  records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1015
Enter the quantity: 1
Product:  Fan
Price:  1500
Billing Amount:  1500
Enter the product_Id: 1020
Enter the quantity: 3
Product:  Speaker
Price:  2500
Billing Amount:  7500
Enter the product_Id: 1001
Enter the quantity: 5
Product:  Choco Cake
Price:  100
Billing Amount:  500
Enter the product_Id: 1025
Enter the quantity: 4
Product:  Adapter
Price:  499
Billing Amount:  1996
Enter the product_Id: 1029
Enter the quantity: 15
Product:  Racket
Price:  1100
Billing Amount:  16500

In [12]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'amount': 16500, 'prod': '1029', 'qn': 15}

In [13]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         4 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         5 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         6 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         7 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         8 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         9 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         10 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [14]:
sale = json.dumps(sales)

In [15]:
sale

'{"1": {"prod": "1029", "qn": 15, "amount": 16500}, "2": {"prod": "1029", "qn": 15, "amount": 16500}, "3": {"prod": "1029", "qn": 15, "amount": 16500}, "4": {"prod": "1029", "qn": 15, "amount": 16500}, "5": {"prod": "1029", "qn": 15, "amount": 16500}, "6": {"prod": "1029", "qn": 15, "amount": 16500}, "7": {"prod": "1029", "qn": 15, "amount": 16500}, "8": {"prod": "1029", "qn": 15, "amount": 16500}, "9": {"prod": "1029", "qn": 15, "amount": 16500}, "10": {"prod": "1029", "qn": 15, "amount": 16500}}'

## Updating the Inventory after Sales

In [16]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()